body {
  background: #2B353E;
  margin: 0;
  padding: 0;
}

section {
    text-align: center;
    margin: 50px 0;
}

a{
  position: fixed;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.panUp {
    top: 0%;
    left: 50%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.panDown {
    bottom: 0%;
    left: 50%;
    float: left;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.panLeft {
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    top: 40%;
    float: left;
}

.panRight {
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    right: 0;
    top: 40%;
    text-align: center;
    float: left;
}

.controls{
  position: fixed;
  bottom: 0%;
  left: 0%;
}

#start{
  position: fixed;
}

#rangevalue {
  position: fixed;
 }
